<form name="signupForm" novalidate
      ng-submit="form.submit(signupForm.$valid)"
      ng-class="{ loading:form.submitting }">

  <header>
    <h1 class="heading text-center">Navigation Center</h1>
  </header>
<section class="case">
      <h2 class="text-center">Intake Assessment</h2>
  <div class="fields">
    <div class="field name-field">

          <label class=" label">Case Manager</label>
          <input class="input"
          type="text"
          name="name"
          ng-model="form.data.name"
          placeholder="First Name + Last Name"
          required />
          <div ng-if="signupForm.$submitted || signupForm.name.$touched" ng-messages="signupForm.name.$error" class="errors">
            <div ng-message="required">You did not enter your name</div>
          </div>

          <label class="label">Intake/Assessment Date</label>
          <input class="input"
                 type="date"
                 name="intakeDate"
                 ng-model="form.data.intakeDate"
                 name="IntakeDate"
                 placeholder="[DD/MM/YYYY]"
                 required />
          <div ng-if="signupForm.$submitted || signupForm.intakeDate.$touched" ng-messages="signupForm.intakeDate.$error" class="errors">
            <div ng-message="required">You did not enter the date</div>
            <div ng-message="number">You have entered an invalid date</div>
          </div>
    </div>
  </div>
    <div class="fields">
    <div class="field">
      <label class=" label">Has the client signed consent forms?</label>
      <div class="check">
        <span class="ib">
          <label>General</label>
          <input  class="input"
                  type="checkbox"
                  name="generalBox"
                  ng-model="form.data.generalBox"
                  />
          </span>
         <span class="ib">
          <label>DPH</label>
          <input  class="input"
                  type="checkbox"
                  name="dphBox"
                  ng-model="form.data.dphBox"
                  />
          </span>
      </div>

      <label class="label">Intake/Assessment Date</label>
      <input class="input"
             type="date"
             name="consentDate"
             ng-model="form.data.consentDate"
             name="consentDate"
             placeholder="[DD/MM/YYYY]"
             required />
      <div ng-if="signupForm.$submitted || signupForm.consentDate.$touched" ng-messages="signupForm.consentDate.$error" class="errors">
        <div ng-message="required">You did not enter the date</div>
        <div ng-message="number">You have entered an invalid date</div>
      </div>
    </div>
  </div>
</section>

<!-- General Info -->
<section class="generalInfo">
  <h2 class="text-center">General Information</h2>
  <div class="fields">
    <div class="field">
      <label class="label">Client name</label>
      <input class="input"
              type="text"
              name="clientName"
              ng-model="form.data.clientName"
              placeholder="Last,First,Middle"
              required />
      <div ng-if="signupForm.$submitted || signupForm.clientName.$touched" ng-messages="signupForm.clientName.$error" class="errors">
        <div ng-message="required">You did not enter a name</div>
      </div>

      <label class="label">Alias or Nickname(s)</label>
      <input class="input"
              type="text"
              name="Nickname"
              ng-model="form.data.Nickname"/>
    </div>
  </div>

  <div class="fields">
    <div class="field">
      <label class=" label">Date of Birth</label>
      <input  class="input"
              type="date"
              name="dob"
              ng-model="form.data.dob"
              placeholder="[DD/MM/YYYY]"
              required />
      <div ng-if="signupForm.$submitted || signupForm.dob.$touched" ng-messages="signupForm.dob.$error" class="errors">
        <div ng-message="required">You did not enter a Date of Birth</div>
      </div>

      <label class="label">Social Secutiry Number</label>
      <input class="input"
              type="text"
              name="ssn"
              ng-model="form.data.ssn"
              name="ssn"
              placeholder="XXX-XX-XXXX"
              required />
      <div ng-if="signupForm.$submitted || signupForm.ssn.$touched" ng-messages="signupForm.ssn.$error" class="errors">
        <div ng-message="required">You did not enter the SSN</div>
      </div>
    </div>
  </div>
    <div class="fields">
      <div class="field">
        <label class="label">Does client have a picture ID?</label>
        <div class="check">
          <span class="ib">
            <label>Yes</label>
            <input  class="input"
                    type="radio"
                    value="yes"
                    ng-model="form.data.id"
                    />
            </span>
           <span class="ib">
            <label>No</label>
            <input  class="input"
                    type="radio"
                    value="no"
                    ng-model="form.data.id"
                    />
            </span>
        </div>
        <label class="label">If no SSN, any other form(s) of identification (e.g.,foreign passport)? if so, describe.</label>
        <input class="input"
                type="text"
                name="otherID"
                ng-model="form.data.otherID"/>
      </div>
    </div>
</section>
  <nav class="form-actions">
    <input type="submit" value="Submit Form" class="button primary" />
  </nav>


</form>
